[submodule "ip_menu_range"]
	path = ip_menu_range
	url = https://github.com/AdrianArtacho/IP_menu_range.git
[submodule "OSCSend"]
	path = OSCSend
	url = https://github.com/AdrianArtacho/OSCSend.git
[submodule "snapOSC"]
	path = snapOSC
	url = https://github.com/AdrianArtacho/snapOSC.git
[submodule "StereoExpand"]
	path = StereoExpand
	url = https://github.com/AdrianArtacho/StereoExpand.git
[submodule "AdriARP"]
	path = AdriARP
url=https://github.com/AdrianArtacho/AdriARP.git
[submodule]
	Adr = iARP.url
[submodule "Knob8"]
	path = Knob8
	url = https://github.com/AdrianArtacho/Knob8.git
[submodule "Map8"]
	path = Map8
	url = https://github.com/AdrianArtacho/Map8.git
[submodule "OSC2map"]
	path = OSC2map
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/osc2map.git
