[submodule "ip_menu_range"]
	path = ip_menu_range
	url = https://github.com/AdrianArtacho/IP_menu_range.git
[submodule "OSCSend"]
	path = OSCSend
	url = https://github.com/AdrianArtacho/OSCSend.git
[submodule "snapOSC"]
	path = snapOSC
	url = https://github.com/AdrianArtacho/snapOSC.git
[submodule "StereoExpand"]
	path = StereoExpand
	url = https://github.com/AdrianArtacho/StereoExpand.git
[submodule "AdriARP"]
	path = AdriARP
url=https://github.com/AdrianArtacho/AdriARP.git
[submodule]
	Adr = iARP.url
[submodule "Knob8"]
	path = Knob8
	url = https://github.com/AdrianArtacho/Knob8.git
[submodule "Map8"]
	path = Map8
	url = https://github.com/AdrianArtacho/Map8.git
[submodule "OSC2map"]
	path = OSC2map
	url = https://github.com/AdrianArtacho/OSC2map.git
[submodule "SampleRacks"]
	path = SampleRacks
	url = https://github.com/AdrianArtacho/SampleRacks.git
[submodule "theremin/theremin4live"]
	path = theremin/theremin4live
	url = https://github.com/AdrianArtacho/theremin4live.git
[submodule "theremin/m4l_theremin"]
	path = theremin/m4l_theremin
	url = https://github.com/AdrianArtacho/m4l_theremin.git
[submodule "light/DMX4Live"]
	path = light/DMX4Live
url=https://github.com/AdrianArtacho/DMX4Live.git
[submodule "office/watermark"]
	path = office/watermark
	url = https://github.com/AdrianArtacho/watermark.git
[submodule "office/download-yt"]
	path = office/download-yt
	url = https://github.com/AdrianArtacho/download-yt.git
